<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.insurance.mapper.PrefectureCountyMapper">

    <resultMap id="BaseResultMap" type="cn.edu.guet.insurance.bean.PrefectureCounty">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="prefecture" column="prefecture" jdbcType="INTEGER"/>
            <result property="county" column="county" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,prefecture,county
    </sql>
    <select id="selectCounty" resultType="java.lang.Integer">
        SELECT county
        FROM prefecture_county
        WHERE prefecture=1
    </select>

</mapper>
